@import "tailwindcss";

:root {
  --background: #f7fbf0;
  --foreground: #181d17;
  --primary: #0d631b;
}

@theme {
  --color-background: #f7fbf0;
  --color-foreground: #181d17;
  --color-primary: #0d631b;
  --color-on-primary: #ffffff;
  --color-surface-container: #ebefe5;
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #f7fbf0;
  color: #181d17;
  font-family: var(--font-manrope), sans-serif;
}
